$base-color: #f8f4f0;

@font-face {
    font-family: CabinetGrotesk;
    src: url("../fonts/CabinetGrotesk-Variable.woff2")
        format("truetype-variations");
    font-weight: 1 999;
}

body {
    background: $base-color;
    font-family: CabinetGrotesk;
    font-weight: 500;
    font-size: 1vw;
    margin: 0;
}

a {
    color: #000;
    font-size: 1.2em;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

nav {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    z-index: 9999;
    transition-duration: 300ms;
}

nav.is--scrolled {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(255, 255, 255);
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

nav .container {
    padding: 0em 6em 0em 6em;
    display: flex;
    align-items: center;
    width: 100%;
}

nav .nav__wrp {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    column-gap: 1em;
}

.nav__button {
    .info {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 0.8em;
        font-weight: 400;
        opacity: 0;
        width: auto;
        pointer-events: none;
        position: absolute;
        top: 3em;
        margin-top: -1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        color: #fff;
        background-color: #000;
        border: solid 1px #000;
        transition: opacity 400ms;
        transition: margin 200ms;
        border-radius: 0.5em;

        div {
            position: absolute;
            top: 0em;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            margin-top: -0.3em;
            transform: rotate(45deg);
            width: 0.6em;
            height: 0.6em;
            background-color: #000;
            border-top: solid #000 1px;
            border-left: solid #000 1px;
        }
    }

    img {
        height: 1em;
        width: 1em;
        filter: invert(100%);
    }
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 5em;
    border: solid 1px #000;
    transition: all 500ms;
}

.nav__button:hover {
    .info {
        opacity: 1;
        margin-top: 0.25em;
    }

    img {
        filter: invert(0%);
    }
    background-color: #000;
}

footer .container {
    padding-bottom: 2em;
}

.footer__bottom {
    height: 4em;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    column-gap: 0.75em;
}

.footer__bottom div {
    flex: 1;
}

.footer__bottom a {
    font-size: 1em;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    color: #000;
}

.logo img {
    height: 1.75em;
}

section {
    padding: 0;
}

.button {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background-color: #fff;
    font-family: "CabinetGrotesk";
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}

.button.is--black {
    border-style: none;
    background-color: #000;
    color: #fff;
}

.button-wrp {
    display: flex;
    column-gap: 1em;
}

.button img {
    margin-left: 0.5em;
    height: 1em;
}

.link-arrow {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    text-decoration: none;
}

.link-arrow.is--low-op {
    opacity: 0.6;
}

.link-arrow:hover {
    border-bottom-color: #000;
    opacity: 1;
}

.link-arrow__icn {
    height: 1em;
    margin-bottom: 0.2em;
    margin-left: 0.25em;
}

section.section__hero {
    display: flex;
    padding-top: 1em;
    padding-right: 1em;
    align-items: center;
}

section.section__hero .container {
    flex: 1;
}

section.is--pt {
    padding-top: 6em;
}

.container {
    padding: 4em 6em 4em 6em;
}

.container.is--grid-4 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  
  .container.is--grid-4.is--no-pt {
    padding-top: 0em;
  }

.container.is--flex {
    display: flex;
    column-gap: 4em;

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 48%;
        padding-right: 4em;
    }
}

p {
    font-size: 1.2em;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

h2 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

h4 {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

.is--frosted-glass {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
}

.message {
    padding: 1em;
    padding-top: 0.75em;
    padding-right: 4em;
    position: relative;
    background-color: whitesmoke;
    border-radius: 1em;
    border: solid 1px #ebebeb;

    p {
        font-size: 0.9em;
        margin-block-end: 0em;
        margin-block-start: 0.75em;
    }

    div {
        cursor: pointer;
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 2em;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 0.5em;
        }
    }

    div:hover {
        background-color: #000;

        img {
            filter: invert(100%);
        }
    }
}


/**********************
****** Poster & builder styles
***********************/

.poster {
    width: 50%;
    height: auto;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
}

.poster__environment {
    width: 100%;
    margin-bottom: -5px;
}

.poster__svg-wrp {
    position: absolute;
    top: 24%;
    right: 47%;
    width: 35%;
    height: 50%;
    mix-blend-mode: multiply;
}

.poster__svg-wrp img {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster__builder {
    display: flex;
    background-color: #fff;
    border-radius: 1em;

    .poster {
        flex: 1;
        width: auto;
        height: 100%;
        overflow: hidden;
    }

    .poster__svg-wrp {
        width: 62%;
        height: 75%;
        top: 13%;
        right: 19.5%;
    }

    .poster__buttons-wrp {
        font-size: 0.8em;
        position: absolute;
        right: 2.6em;
        bottom: 2.4em;
        display: flex;
        column-gap: 1em;

        .button {
            border-color: #fff;
        }
    }

}

.poster__module {
    border-top-left-radius: 1em; 
    border-bottom-left-radius: 1em;
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin-right: -1em;
    display: flex;
    flex-direction: column;
    padding: 2em 2.5em 2em 2.5em;
    width: 44em;

    .message {
        margin-top: 2em;
    }

}

.module__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2em;
}

.module__mask {
    flex: 1;
}

.module__step {
    display: none;
}

.module__step.is--active {
    display: block;
}

.themes {
    margin-top: 2em;
    display: flex;
    column-gap: 2em;
    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}

.theme {    
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 0.5em;

    p {
        font-size: 0.8em;
    }

    h4 {
        margin-top: 0em;
    }
}

.theme__colour-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3em;
    width: 3.3em;
    border-radius: 100%;
    border: solid transparent 1px;
}

.theme__colour {
    width: 80%;
    height: 80%;
    border: 1px solid #f5f5f5;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    transform: rotateZ(-35deg);


    div {
        width: 50%;
        height: 100%;
        background-color: red;
    }

    div:first-child {
        background-color: green;
    }
}

.theme:hover {
    .theme__colour-wrp {
        border-color: #000;
    }
}

.theme.is--active {
    
    .theme__colour-wrp {
        border-color: #000;
    }

}

.module__navigation {
    display: flex;
    align-items: flex-end;

    .module__buttons {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1em;

        .link-arrow {
            column-gap: 0.25em;
        }
    }

    .module__progress-wrp {

        width: 18em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 0.3em;

        .module__progress {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 1em;
            justify-content: space-between;
        }

        .progress__bar {
            flex: 1;
            left: 1.75em;
            right: 1.75em;
            height: 1px;
            overflow: hidden;
            background-color: #bebebe;
            position: absolute;
        }

        .progress__bar-indicator {
            transition: width 400ms ease-in;
            min-width: 5%;
            height: 100%;
            background-color: #000;
        }

        .progress__step {
            transition: border-color 400ms ease;
            transition: background-color 400ms ease;
            cursor: pointer;
            width: 1.75em;
            height: 1.55em;
            padding-top: 0.2em;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 1px #bebebe;
            border-radius: 2em;
            background-color: #fff;

            div {
                pointer-events: none;
                transition: opacity 400ms;
                font-size: 0.7em;
                position: absolute;
                white-space: nowrap;
                bottom: 100%;
                margin-bottom: 0.5em;
                opacity: 0;
            }
        }

        .progress__step:hover, .progress__step.is--filled:hover {
            border-color: #000;

            div {
                opacity: 1;
            }
        }

        .progress__step.is--active {
            border-color: #000;
            background-color: #000;
            color: #fff;

            div {
                color: #000;
            }
        }

        .progress__step.is--passed {
            border-color: #000;
        }
    }
}

/**********************
****** Form styles
***********************/
input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #000;
    border-color: transparent;
}

input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox] {
    margin-top: 1px;
    margin-right: 0.25em;
    border-color: rgba(0, 0, 0, 0.14);
    accent-color: #000;
}

textarea:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #000;
    border-color: transparent;
}

input, textarea{
    font-family: CabinetGrotesk;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.02em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $base-color inset;
    box-shadow: 0 0 0px 1000px $base-color inset;;
}

.field {
    height: auto;
    width: 100%;
    padding: 1.25em 1.25em 0.75em 1.25em;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.14);
    border-radius: 0.5em;
    background-color: transparent;
}

.field.is--error {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #c00303;
    border-color: transparent;
}

.field.is--success {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #03c02c;
    border-color: transparent;
}

.field__wrp {
    position: relative;
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.field__checkbox {
    display: flex;
    align-items: center;
}

label {
    font-size: 1.1em;
}

.field__label {
    position: absolute;
    left: 0.5em;
    top: -0.6em;
    margin-bottom: 0px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: $base-color;
}

.field__error {
    position: absolute;
    top: -0.6em;
    right: 0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    border-radius: 0.5em;
    background-color: #ffb8b8;
    color: #c00303;
    line-height: 1.55;
}

.field__error.is--success {
    background-color: #beffca;
    color: #03c02c
}

.field__error.is--submit {
    position: absolute;
    bottom: -2em;
    margin-left: 0em;
    top: auto;
    right: auto;
}

.field__error.is--static {
    display: inline-block;
    position: static;
}

.form {
    max-width: 40em;
    margin-top: 2em;
    position: relative;

    .button {
        cursor: pointer;
    }

    button:disabled,
    button[disabled] {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.form__bottom {
    margin-top: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-arrow {
        font-size: 1em;
        opacity: 0.5;
    }

    .link-arrow:hover {
        opacity: 1;
    }
}

.form.is--newsletter {
    display: flex;
    column-gap: 1em;
    margin-top: 0em;
    flex: 1;
    max-width: none;

    .field__wrp {
        margin-top: 0em;
        flex: 1;
    }
}

.newsletter-wrp {
    display: flex;
    column-gap: 8em;
    align-items: center;
    margin-bottom: 2em;

    h2 {
      margin-bottom: 0em;
      margin-top: 0em;
    }
}



/**********************
****** Features Styles
***********************/

.feature__icn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 4em;
    margin-bottom: 1em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5em;
    
    img {
        width: 1.5em;
    }
  }
  
  .feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  
/**********************
****** Faq Styles
***********************/
.questions {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.question-wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: border-color 500ms;
}

.question-wrp:hover {
    border-bottom: 2px solid rgba(0, 0, 0,);
}

.question {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 0.5em;
}

.question__icon {
    width: 2.25em;
    height: 2.25em;
    border: 1px solid #000;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;

    img {
        width: 1.25em;
    }
}

.question__icon.is--rotated {
    transform: rotate(180deg);
}



.answer {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    -webkit-transition: opacity 400ms ease, max-height 1000ms ease;
    transition: opacity 400ms ease, max-height 1000ms ease;
}

.answer.is--visible {
    max-height: 400px;
    opacity: 1;
}

.answer__p {
    margin-top: 1em;
}
