$base-color: #f8f4f0;

@font-face {
    font-family: CabinetGrotesk;
    src: url("../fonts/CabinetGrotesk-Variable.woff2")
        format("truetype-variations");
    font-weight: 1 999;
}

body {
    background: $base-color;
    font-family: CabinetGrotesk;
    font-weight: 500;
    font-size: 1vw;
    margin: 0;
}

a {
    color: #000;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

nav {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
    z-index: 9999;
    transition-duration: 300ms;
}

nav.is--scrolled {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(255, 255, 255);
    border-bottom: rgba(0, 0, 0, 0.1) solid 0.06em;

    .flash-message {
        margin-top: 0.5em;
    }
}

nav .container {
    padding: 0em 6em 0em 6em;
    display: flex;
    align-items: center;
    width: 100%;
}

nav .nav__wrp {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    column-gap: 1em;
}

.nav__button {
    font-size: 1.2em;

    .info {
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 0.8em;
        font-weight: 400;
        opacity: 0;
        width: auto;
        pointer-events: none;
        position: absolute;
        top: 3em;
        margin-top: -1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        color: #fff;
        background-color: #000;
        border: solid 0.06em #000;
        transition: opacity 400ms;
        transition: margin 200ms;
        border-radius: 0.5em;

        div {
            position: absolute;
            top: 0em;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: -0.3em;
            transform: rotate(45deg);
            width: 0.6em;
            height: 0.6em;
            background-color: #000;
            border-top: solid #000 0.06em;
            border-left: solid #000 0.06em;
        }
    }

    .info.active {
        opacity: 1;
        margin-top: 0.25em;
    }

    svg {
        height: 1em;
        width: 1em;
    }

    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 5em;
    border: solid 0.06em #000;
    transition: all 500ms;
}

.nav__button:hover {
    .info {
        opacity: 1;
        margin-top: 0.25em;
    }

    color: #fff;

    background-color: #000;
}

footer .container {
    padding-bottom: 2em;
}

.footer__bottom {
    height: 4em;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    column-gap: 0.75em;
}

.footer__bottom div {
    flex: 1;
}

.footer__bottom a {
    font-size: 1em;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    color: #000;
}

.logo img {
    height: 1.75em;
}

section {
    padding: 0;
}

.is--margin-top {
    margin-top: 1em;
}

.is--flex {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.is--space-between {
    justify-content: space-between;
}

.is--small {
    font-size: 0.8em;
}

button {
    font-size: 1em;
    border: none;
    background-color: transparent;
    padding: 0em;
}

.button {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 0.06em;
    border-color: rgba(0, 0, 0, 0.14);
    border-radius: 1em;
    background-color: #fff;
    font-family: "CabinetGrotesk";
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
}

.button.is--black {
    border-style: none;
    background-color: #000;
    color: #fff;

    svg {
        fill: #fff;
    }
}

.button.is--only-icon {
    width: 2.5em;
    height: 2.5em;
    border: 0.06em solid #ebebeb;
    padding: 0;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        margin-left: 0.1em;
        width: 0.8em;
    }
}

.button__rnd-icn {
    width: 2.5em;
    height: 2.5em;
    border: 0.06em solid #000;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        width: 0.6em;
    }
}

.button__rnd-icn:hover {
    background-color: #000;

    svg {
        fill: #fff;
    }
}

.confirm {
    white-space: nowrap;
    margin-top: 1.25em;
}

.button-wrp {
    display: flex;
    column-gap: 1em;
}

.button img {
    margin-left: 0.5em;
    height: 1em;
}

.button svg {
    margin-left: 0.5em;
    height: 1em;
    width: 1em;
}

.text__link {
    font-size: 1em;
    opacity: 1;
    text-decoration: underline;
    transition: opacity 400ms;
    cursor: pointer;
}

.text__link:hover {
    opacity: 0.6;
}

.link-arrow {
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 0.06em solid rgba(0, 0, 0, 0.14);
    text-decoration: none;

    svg {
        margin-left: 0.25em;
        margin-bottom: 0.15em;
        height: 1em;
        width: 1em;
    }
}

.link-arrow.is--low-op {
    opacity: 0.6;
}

.link-arrow:hover {
    border-bottom-color: #000;
    opacity: 1;
}

.link-arrow__icn {
    height: 1em;
    margin-bottom: 0.2em;
    margin-left: 0.25em;
}

section:first-child {
    padding-top: 4em;
}

section.section__hero {
    display: flex;
    padding-top: 1em;
    padding-right: 1em;
    align-items: center;

    .poster {
        width: 50%;
    }
}

section.section__hero .container {
    flex: 1;
}

section.is--pt {
    padding-top: 6em;
}

.container {
    padding: 4em 6em 4em 6em;
}

.card {
    background-color: #fff;
    border-radius: 1em;
    border: 0.075em solid #ebebeb;
    padding: 2em;

    .field__label {
        background-color: #fff;
    }
}

.container.is--grid-4 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.container.is--grid-4.is--no-pt {
    padding-top: 0em;
}

.container.is--flex {
    display: flex;
    column-gap: 4em;

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 48%;
        padding-right: 4em;
    }
}

p {
    font-size: 1.2em;
}

h1 {
    font-size: 5em;
    font-weight: 700;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

h2 {
    font-size: 3em;
    font-weight: 600;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

h4 {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 0.1em;
    margin-bottom: 0.25em;
    line-height: 1.1;
}

.is--frosted-glass {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
}

.message {
    padding: 1em;
    padding-top: 0.75em;
    padding-right: 4em;
    position: relative;
    background-color: whitesmoke;
    border-radius: 1em;
    border: solid 0.06em #ebebeb;

    p {
        font-size: 0.9em;
        margin-block-end: 0em;
        margin-block-start: 0.75em;
    }

    div {
        cursor: pointer;
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 2em;
        border: 0.06em solid #000;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 0.5em;
        }
    }

    div:hover {
        background-color: #000;

        svg {
            fill: #fff;
        }
    }
}

.row {
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.row.is--starting-position {
    button {
        margin-top: 1.25em;
    }
}

.row.is--title-result {
    .field__wrp:not(:first-child) {
        width: 12.5em;
    }
}

.row.is--player-input {
    .field__wrp:not(:first-child) {
        width: 12.5em;
    }
}

/**********************
****** Poster builder styles
***********************/

.poster {
    height: auto;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
}

.poster__environment {
    width: 100%;
    margin-bottom: -5px;
}

.poster__svg-wrp {
    position: absolute;
    top: 24%;
    right: 47%;
    width: 35%;
    height: 50%;
    mix-blend-mode: multiply;
    pointer-events: none;
}

.poster__svg-wrp img {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poster__builder {
    display: flex;
    background-color: #fff;
    border-radius: 1em;

    .poster__svg-wrp {
        width: 62%;
        height: 75%;
        top: 13.25%;
        right: 19.5%;
    }
}

.poster__module {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border: solid 0.06em rgba(0, 0, 0, 0.1);
    margin-right: -1em;
    display: flex;
    flex-direction: column;
    padding: 2em 3.5em 2em 2.5em;
    width: 44em;

    .field__label {
        background-color: white;
        font-weight: 600;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
    }

    .poster__moves {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5em;

        span {
            margin-right: 0.25em;
        }

        .move {
            border-radius: 0.5em;
            cursor: pointer;
            padding: 0.15em 0.35em 0.1em 0.35em;
            margin: -0.15em 0.15em -0.15em -0.35em;
            transition: all 100ms ease;
        }

        .move:hover {
            color: rgba(190, 190, 190, 0.6);
        }

        .move.is--active {
            background-color: black;
            color: white;
        }
    }
}

.module__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2em;
}

.module__mask {
    margin-top: 1em;
    flex: 1;
    padding-bottom: 1em;
}

.module__step {
    display: none;

    ul {
        margin-bottom: 3em;
    }
}

.module__step.is--active {
    display: block;
}

.themes {
    margin-top: 2em;
    display: flex;
    column-gap: 2em;
    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}

.theme {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 0.5em;

    p {
        font-size: 0.8em;
    }

    h4 {
        margin-top: 0em;
    }
}

.theme__colour-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3em;
    width: 3.3em;
    border-radius: 100%;
    border: solid transparent 0.06em;
}

.theme__colour {
    width: 80%;
    height: 80%;
    border: 0.06em solid #f5f5f5;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    transform: rotateZ(-35deg);

    div {
        width: 50%;
        height: 100%;
    }
}

.theme:hover {
    .theme__colour-wrp {
        border-color: #000;
    }
}

.theme.is--active {
    .theme__colour-wrp {
        border-color: #000;
    }
}

.tabs {
    width: 100%;
}

.tabs__header {
    display: flex;
    align-items: center;
    column-gap: 2em;
    padding: 0.25em;
    border-radius: 1em;
    background-color: whitesmoke;
    border: 0.06em solid #ebebeb;
    justify-content: space-between;

    .tab__item {
        cursor: pointer;
        border-radius: 1em;
        padding: 0.5em 1em 0.5em 1em;
        opacity: 60%;
    }

    .tab__item:hover {
        opacity: 1;
    }

    .tab__item.is--active {
        opacity: 1;
        background-color: #fff;
    }

    h4 {
        margin: 0em;
    }
}

.tab {
    margin-top: 0.5em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    textarea {
        height: 8em;
    }
    .button {
        font-size: 0.8em;
        margin-top: 0.5em;
    }
}

.manual-moves {
    margin-top: 1.5em;
    min-height: 6em;
    .field__wrp {
        margin-top: 0em;
        width: auto;

        .field {
            width: 15em;
        }

        .field__error {
            right: auto;
            left: 0.5em;
        }
    }

    .link-arrow {
        column-gap: 0.25em;
    }

    .text__link {
        margin-top: 0.5em;
        margin-left: 1em;
        text-decoration: none;
        cursor: default;
        opacity: 1;
        color: rgba(0, 0, 0, 0.6);

        span.suggestion {
            text-decoration: underline;
            cursor: pointer;
        }

        span.suggestion:hover {
            opacity: 1;
            color: rgba(0, 0, 0);
        }
    }
}

.module__navigation {
    display: flex;
    align-items: flex-end;

    .module__buttons {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1em;

        .link-arrow {
            column-gap: 0.25em;
        }
    }

    .module__progress-wrp {
        width: 18em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 0.3em;

        .module__progress {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 1em;
            justify-content: space-between;
        }

        .progress__bar {
            flex: 1;
            left: 1.75em;
            right: 1.75em;
            height: 0.06em;
            overflow: hidden;
            background-color: #bebebe;
            position: absolute;
        }

        .progress__bar-indicator {
            transition: width 400ms ease-in;
            min-width: 5%;
            height: 100%;
            background-color: #000;
        }

        .progress__step {
            transition: border-color 400ms ease;
            transition: background-color 400ms ease;
            cursor: pointer;
            width: 1.75em;
            height: 1.55em;
            padding-top: 0.2em;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 0.06em #bebebe;
            border-radius: 2em;
            background-color: #fff;

            div {
                pointer-events: none;
                transition: opacity 400ms;
                font-size: 0.7em;
                position: absolute;
                white-space: nowrap;
                bottom: 100%;
                margin-bottom: 0.5em;
                opacity: 0;
            }
        }

        .progress__step:hover,
        .progress__step.is--filled:hover {
            border-color: #000;

            div {
                opacity: 1;
            }
        }

        .progress__step.is--active {
            border-color: #000;
            background-color: #000;
            color: #fff;

            div {
                color: #000;
            }
        }

        .progress__step.is--passed {
            border-color: #000;
        }
    }
}

/**********************
****** Overlay styles
***********************/
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
}

.overlay:has(.lightbox) {
    align-items: center;
    justify-content: center;
}

.overlay:has(.slide-out) {
    align-items: stretch;
    justify-content: flex-end;
}

/**********************
****** Poster Styles
***********************/

.poster {
    flex: 1;
    width: auto;
    overflow: hidden;
}

.poster__buttons-wrp {
    font-size: 0.8em;
    position: absolute;
    right: 2.6em;
    bottom: 2.4em;
    display: flex;
    column-gap: 0.5em;
    z-index: 999;

    .button {
        border-color: #fff;
    }

    .button.saved {
        filter: invert(100%);
    }
}

.poster__buttons-wrp.small {
    top: 1em;
    left: 1em;
    height: 2em;

    .button {
        height: 2em;
        width: 2em;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: #fff;

        svg {
            height: 0.75em;
            width: 0.75em;
            margin-left: 0em;
        }
    }

    form {
        button {
            svg {
                height: 0.85em;
                width: 0.85em;
            }
        }
    }
}

/**********************
****** Lightbox Styles
***********************/

.lightbox {
    width: 75em;
    height: 50em;
    border-radius: 1em;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;

    .poster__svg-wrp.is--lightbox-small {
        top: 10.75%;
        right: 26.75%;
        width: 24em;
        height: auto;
    }

    .poster__svg-wrp.is--lightbox-medium {
        top: 10.2%;
        right: 32.7%;
        width: 23.65em;
        height: auto;
    }

    .poster__svg-wrp.is--lightbox-large {
        top: 13.75%;
        right: 36.75%;
        width: 30.75%;
        height: auto;
    }

    .lightbox__mask {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 1em;
        cursor: zoom-in;
    }

    .lightbox__mask:has(.poster.is--zoomed) {
        cursor: zoom-out;
    }

    .poster {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 0em;

        .poster__environment {
            height: 100%;
            object-fit: cover;
        }
    }

    .poster.is--zoomed {
        transform: scale(2);
    }

    .lightbox__footer {
        display: flex;
        justify-content: space-between;
        padding: 1em 2em 1em 2em;
        align-items: center;
        width: calc(100% - 4em);

        h3 {
            margin-bottom: 0em;
            margin-top: 0em;
        }
    }

    .lightbox__nav {
        display: flex;
        align-items: center;
        column-gap: 1.5em;
    }

    .lightbox__indexes {
        display: flex;
        column-gap: 0.5em;
        align-items: center;

        div {
            width: 1em;
            height: 1em;
            border-radius: 1em;
            background-color: #bebebe;
            cursor: pointer;
        }

        div:hover {
            background-color: #000;
        }

        .active {
            background-color: #000;
        }
    }

    .lightbox__arrows {
        display: flex;
        column-gap: 0.5em;

        button {
            background-color: #000;
            width: 2.5em;
            height: 2.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3em;
            cursor: pointer;
            font-size: 1em;

            svg {
                width: 0.75em;
                filter: invert(100%);
            }
        }

        button:first-child {
            svg {
                transform: rotate(180deg);
            }
        }

        button:last-child {
            background-color: #fff;
            border: 0.06em solid #000;

            svg {
                width: 0.6em;
                filter: invert(0%);
            }
        }
    }
}

/**********************
****** Authenticate slide-out style
***********************/

.slide-out {
    position: relative;
    width: 40em;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 6em 4em 4em 4em;
    border-left: rgba(0, 0, 0, 0.1) solid 0.06em;

    .currentPoster {
        display: inline-flex;
        align-items: center;
        padding: 0.5em;
        padding-right: 1em;
        border: 0.06em solid #ebebeb;
        column-gap: 0.5em;
        border-radius: 0.5em;
        background-color: whitesmoke;

        div {
            padding: 0.5em;
            width: 1.25em;
            height: 1.25em;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2em;
        }

        svg {
            filter: invert(100%);
            height: 1em;
            width: 1em;
        }
    }

    .form {
        width: 100%;
        margin-top: 0em;
    }

    .button__rnd-icn {
        position: absolute;
        top: 2em;
        right: 2em;
    }

    .field__label {
        background-color: #fff;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
    }
}

/**********************
****** Account nav
***********************/

.container.account {
    padding-top: 8em;
    display: flex;
    align-items: flex-start;
    column-gap: 6em;

    .account__menu {
        background-color: #fff;
        border-radius: 0.5em;
        border: solid 0.06em rgba(0, 0, 0, 0.1);
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        flex: none;
        position: sticky;
        top: 6em;

        h3 {
            margin-top: 0.25em;
            margin-bottom: 0em;
        }

        li {
            padding: 0.5em;
        }

        li a,
        li button {
            border: 0.06em solid #fff;
            text-decoration: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            column-gap: 0.5em;
            border-radius: 1em;

            div {
                width: 2em;
                height: 2em;
                border-radius: 2em;
                border: 0.06em solid #000;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 1em;
                    height: 1em;
                    fill: #000;
                }
            }
        }

        li a:hover,
        li button:hover {
            div {
                background-color: #000;

                svg {
                    filter: invert(100%);
                }
            }
        }

        li.is--active a,
        li.is--active button {
            background-color: #f5f5f5;
            border: 0.06em solid #ebebeb;

            div {
                background-color: #000;

                svg {
                    filter: invert(100%);
                }
            }
        }

        li:last-child svg {
            margin-right: -0.25em;
        }
    }
}

/**********************
****** Saved posters styles
***********************/
ul.saved__posters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;

    li {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 1em;
        background-color: #fff;

        .poster {
            flex: none;
        }

        .poster__svg-wrp {
            top: 14.1%;
            right: 19%;
            width: 61.5%;
        }

        .content {
            flex: 1;
            padding: 0.75em 1em 0.75em 1em;
            display: flex;
            flex-direction: column;

            .button-wrp {
                display: flex;
                align-items: flex-end;
                flex: auto;
                font-size: 0.8em;
            }
        }

        h3 {
            font-size: 1.4em;
            line-height: 1.6;
            margin-bottom: 0em;
        }
    }
}

/**********************
****** Game collection styles
***********************/
ul.game__collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;

    li {
        display: flex;
        overflow: hidden;
        border-radius: 1em;
        background-color: #fff;

        .content {
            flex: 1;
            padding: 1em 3.5em 1em 1.5em;
            margin-right: -2em;
            display: flex;
            flex-direction: column;
            border: solid 0.06em rgba(0, 0, 0, 0.1);
            border-radius: 1em;
            align-items: flex-start;

            h2 {
                font-size: 1.4em;
                line-height: 1.4;
                margin-bottom: 0em;
            }

            .banner {
                font-size: 0.8em;
                margin-top: 1em;
                padding-top: 0.1em;
                display: inline-flex;
                border-radius: 0.5em;
                background-color: whitesmoke;
                border: 0.075em solid #ebebeb;
                padding-right: 0.75em;
                line-height: 1;
                align-items: center;

                svg {
                    margin: 0.3em 0.4em 0.3em 0.4em;
                    height: 1.5em;
                    width: 1.5em;
                }
            }

            .player {
                margin-top: 0.5em;
                display: flex;
                align-items: center;
                column-gap: 0.5em;

                svg {
                    margin-top: -0.15em;
                    width: 1.25em;
                    height: 1.25em;
                }
            }

            strong {
                margin-top: 1em;
                margin-bottom: -0.5em;
            }

            p {
                font-size: 0.8em;
                line-height: 1.6;
                font-weight: 500;
                flex: 1;
            }

            .button-wrp {
                font-size: 0.8em;
            }
        }

        .poster {
            margin-bottom: -1px;

            .poster__buttons-wrp.small {
                justify-content: end;
                right: 1em;
            }

            .poster__svg-wrp {
                top: 14%;
                right: 19.5%;
                width: 61%;
            }
        }
    }
}

/**********************
****** Form styles
***********************/

fieldset {
    border: none;
    padding: 0;
}

input[type="date"] {
    resize: none;
}

input:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #000;
    border-color: transparent;
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="checkbox"] {
    margin-top: 0.06em;
    margin-right: 0.25em;
    border-color: rgba(0, 0, 0, 0.14);
    accent-color: #000;
}

textarea:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #000;
    border-color: transparent;
}

input,
textarea {
    font-family: CabinetGrotesk;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.02em;
    resize: vertical;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $base-color inset;
    box-shadow: 0 0 0px 1000px $base-color inset;
}

.field {
    font-size: 1em;
    height: auto;
    width: 100%;
    padding: 1.25em 1.25em 0.75em 1.25em;
    border-style: solid;
    border-width: 0.06em;
    border-color: rgba(0, 0, 0, 0.14);
    border-radius: 0.5em;
    background-color: transparent;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

select.field {
    padding-left: 1em;
    padding-top: 1em;
}

select.field:focus {
    outline-color: #000;
}

.field:disabled {
    width: auto;
    background-color: whitesmoke;
    padding-top: 0.75em;
}

.field.is--error {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #c00303;
    border-color: transparent;
}

.field.is--success {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #03c02c;
    border-color: transparent;
}

.field__wrp {
    position: relative;
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1em;
}

.field__wrp.is--margin-top {
    margin-top: 4em;
}

.field__checkbox {
    display: flex;
    align-items: center;
}

label {
    font-size: 1.1em;
}

.field__label {
    position: absolute;
    left: 0.5em;
    top: -0.6em;
    margin-bottom: 0px;
    padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: $base-color;
}

.field__error {
    position: absolute;
    top: -0.6em;
    right: 0.5em;
    padding-right: 0.75em;
    padding-left: 0.75em;
    border-radius: 0.5em;
    background-color: #ffb8b8;
    color: #c00303;
    line-height: 1.55;
}

.field__error.is--success {
    background-color: #beffca;
    color: #03c02c;
}

.field__error.is--submit {
    position: absolute;
    bottom: -2em;
    margin-left: 0em;
    top: auto;
    right: auto;
}

.field__error.is--static {
    display: inline-block;
    position: static;
}

.form {
    max-width: 40em;
    margin-top: 2em;
    position: relative;

    .button {
        cursor: pointer;
    }

    button:disabled,
    button[disabled] {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.form__bottom {
    margin-top: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-arrow {
        font-size: 1em;
        opacity: 0.5;
    }

    .link-arrow:hover {
        opacity: 1;
    }
}

.form.is--newsletter {
    display: flex;
    column-gap: 1em;
    margin-top: 0em;
    flex: 1;
    max-width: none;

    .field__wrp {
        margin-top: 0em;
        flex: 1;
    }
}

.newsletter-wrp {
    display: flex;
    column-gap: 8em;
    align-items: center;
    margin-bottom: 2em;

    h2 {
        margin-bottom: 0em;
        margin-top: 0em;
    }
}

/**********************
****** Features Styles
***********************/

.feature__icn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 4em;
    height: 4em;
    margin-bottom: 1em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.06em solid #000;
    border-radius: 5em;

    svg {
        width: 1.5em;
    }
}

.feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/**********************
****** Faq Styles
***********************/
.questions {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.question-wrp {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: border-color 500ms;
}

.question-wrp.is--active {
    .question__icon {
        transform: rotate(180deg);
    }

    .answer {
        max-height: 400px;
        opacity: 1;
    }
}

.question-wrp:hover {
    border-bottom: 2px solid rgba(0, 0, 0);
}

.question {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 0.5em;
}

.question__icon {
    width: 2.25em;
    height: 2.25em;
    border: 0.06em solid #000;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;

    svg {
        width: 1.25em;
    }
}

.answer {
    overflow: hidden;
    max-height: 0px;
    opacity: 0;
    -webkit-transition: opacity 400ms ease, max-height 1000ms ease;
    transition: opacity 400ms ease, max-height 1000ms ease;

    p {
        margin-top: 1em;
    }

    p:last-child {
        color: #bebebe;
        font-size: 0.8em;
    }
}
